/*style*/

body {
  background-color: aqua;
  color: blueviolet;
  display: flex;
  padding: 12px;
  flex: wrap;
}

h1{
  flex: 1 100%;
}

h2 {
  font-weight: lighter;
  flex: 1 100%;
}

.one {
  background-color: yellow;
  color: darkred;
  flex: 1;
}

.two {
  background-color: green;
  color: white;
  flex: 2;
}

.button-one {
  text-align: left;
  background-color: blue;
  font-size: 22px;
  display: flex;
  flex: 1;
  justify-content: center;
}